body{
  background-image:
url("https://wallpaper-house.com/data/out/12/wallpaper2you_557041.jpg");
  background-size: auto 100vh;
  backdrop-filter: blur(2px);
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; 
  height: 100vh;
}

.menu{
  background-color: white;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.menu li{
  list-style: none;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover{
  text-decoration:underline; 
}

.site-subtitle,
.site-title{
  color: Brown;
  text-align: center;
  font-size: 40px;
}

.site-subtitle{
  font-style: italic;
}